html, body {
    height: 100%;
    margin: 0;
}

#app {
    height: 100%;
}

.target {
    width: 100px;
    height: 100px;
    background-color: orange;
    margin-top: 1000px;
    margin-bottom: 1000px;
}